<html lang='en'>



<head>

  <!-- Clarity tracking code for https://estimatebodyfat.com/ --><script>    (function(c,l,a,r,i,t,y){        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);    })(window, document, "clarity", "script", "54s0y8htb6");</script>

  <!-- Hotjar Tracking Code for www.estimatebodyfat.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:1845510,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
        n.callMethod.apply(n,arguments):n.queue.push(arguments)};
        if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
        n.queue=[];t=b.createElement(e);t.async=!0;
        t.src=v;s=b.getElementsByTagName(e)[0];
        s.parentNode.insertBefore(t,s)}(window, document,'script',
        'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '1501324103503738');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
    src="https://www.facebook.com/tr?id=1501324103503738&ev=PageView&noscript=1"
  /></noscript>
    <!-- End Facebook Pixel Code -->
    <script data-ad-client="ca-pub-3816550543780833" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

    <script type="text/javascript">
        window._mNHandle = window._mNHandle || {};
          window._mNHandle.queue = window._mNHandle.queue || [];
          medianet_versionId = "3121199";
    </script>
    <script src="https://contextual.media.net/dmedianet.js?cid=8CUCX2JKR" async="async"></script>

    <meta name="p:domain_verify" content="deb898c6eb6394ff1950a053b6569502" />

    <style>
        a {
            text-decoration: none;
        }
    </style>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144324144-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-144324144-1');
    </script>

    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-TXR2CSP');
    </script>
    <!-- End Google Tag Manager -->

    <title>Military Body Fat Calculator</title>
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon-32x32.png">
    <meta name="description" content="Determine your body fat percentage, lean muscle mass, total fast mass and BMI using our free online body fat calculator as it applies to the U.S. Army, U.S. Navy and U.S. Marine Corps Body Fat Standards.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 user-scalable=no,maximum-scale=1">
    <meta name="viewport" collapse="width=device-width, initial-scale=1">

    <meta name="robots" content="index, follow">
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <link rel='stylesheet' href='../static/stripe.css'>
    <script src="jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="../static/croppie.css" />
    <link rel="stylesheet" href="../static/sweetalert.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        //auto expand textarea
        function adjust_textarea(h) {
            h.style.height = "20px";
            h.style.height = (h.scrollHeight) + "px";
        }
    </script>

    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />


    </head>

    <body>


    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TXR2CSP" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="notification" style="display: none;">
        <div id="notification_content"></div>
        <span class="dismiss"><a title="dismiss this notification">X</a></span>
    </div>
    <div>
        <div class='center'>
            <a href='./'>
                <div class="header"> <img src="../static/images/estimatebodyfat-header-main.png" class="logo" alt="logo"> </div>
            </a>
            <div id='cssmenu'>
                <ul>


                    <li class='last'><a href="./"><span>Home</span></a>
                    </li>


                    <li class="has-sub"><a href='./ai-calculator.html'><span>Body Fat Calculators</span></a>
                        <ul>
                            <li><a href='./ai-calculator.html'><span>A.I. Fat Calculator</span></a></li>
                            <li><a href="/body-fat-calculator.html"><span>Military Fat Calculator</span></a>
                                <li><a href="/caliper-calculator.html"><span>Caliper Fat Calculator</span></a>
                                         <li class='last'><a href="/face-fat.html"><span>Face Fat Calculator</span></a></ul>
                        </li>

  </ul>

            </div>

            <h1 style="background-color:#faf1f0;border-bottom: none; ">FREE U.S. MILITARY BODY FAT CALCULATOR</h1>

            <p style="text-align: left;"><b>Looking for a U.S. Army/Navy/Marine body fat % calculator?</b><br><br>
         This military calculator can measure your total body fat percentage, lean body mass, fat body mass and BMI.<br><br>
         We built this calculator for ourselves as we wanted a quick and easy way to determine our own body fat percentage <br><br>

            </p>


            <!-- method="POST"  action="/usunitnavy"-->

            <form accept-charset="utf-8" class="form-style-7">

                <ul>

                    <li>
                        <label for="name">UNITS</label>
                        <input type="radio" onchange="hideB(this)" name="aorb" checked required>U.S. System</input>
                        <input type="radio" onchange="hideA(this)" name="aorb">Metric System</input>

                    </li>
                </ul>
            </form>

            <form id="navy-form" accept-charset="utf-8" class="form-style-7" onsubmit="usnavy(); return false;">

                <ul>

                    <li>
                        <div id="gender">
                            <label for="name">Gender</label>
                            <input type="radio" name="gender" id="male" value="1" required>Male</input>
                            <input type="radio" name="gender" id="female" value="2">Female</input>
                        </div>
                    </li>

                    <li>
                        <label for="name">Age</label>
                        <input type="text" name="age" id="age" placeholder="25" required>
                        <span>Age must be in years</span>

                    </li>

                    <li>
                        <label for="name">Weight</label>
                        <input type="text" name="weight" id="weight" placeholder="140" required>
                        <span>Weight must be in pounds, for example 140</span>
                    </li>

                    <li>
                        <label for="name">Height - Feet</label>
                        <input type="text" name="height_feet" id="height_feet" placeholder="5" required>
                        <span>If you are 5 feet 9.5 inches, enter 5</span>
                    </li>

                    <li>
                        <label for="name">Height - Inches</label>
                        <input type="text" name="height_inches" id="height_inches" placeholder="9.5" required>
                        <span>If you are 5 feet 9.5 inches, enter 9.5</span>
                    </li>

                    <li>
                        <label for="name">Neck - Feet</label>
                        <input type="text" name="neck_feet" id="neck_feet" placeholder="1" required>
                        <span>If you are 1 feet 9.5 inches, enter 1</span>
                    </li>

                    <li>
                        <label for="name">Neck - Inches</label>
                        <input type="text" name="neck_inches" id="neck_inches" placeholder="9.5" required>
                        <span>If you are 1 feet 9.5 inches, enter 9.5</span>
                    </li>

                    <li>
                        <label for="name">Waist - Feet</label>
                        <input type="text" name="waist_feet" id="waist_feet" placeholder="3" required>
                        <span>If you are 3 feet 4.5 inches, enter 3</span>
                    </li>

                    <li>
                        <label for="name">Waist - Inches</label>
                        <input type="text" name="waist_inches" id="waist_inches" placeholder="9.5" required>
                        <span>If you are 3 feet 4.5 inches, enter 4.5</span>
                    </li>

                    <div id="textboxes" style="display: none">

                        <li>
                            <label for="name">Hip - Feet</label>
                            <input type="text" name="hip_feet" id="hip_feet" placeholder="3">
                            <span>If you are 3 feet 1.5 inches, enter 3</span>
                        </li>

                        <li>
                            <label for="name">Hip - Inches</label>
                            <input type="text" name="hip_inches" id="hip_inches" placeholder="1.5">
                            <span>If you are 3 feet 1.5 inches, enter 1.5</span>
                        </li>
                    </div>
                    <br>
                    <li>
                        <input type="submit" name="submit" id="submit" onclick="showDiv()" value="CALCULATE" /> </li>

                </ul>
                <!-- onclick='usnavy()'  -->

            </form>

            <form id="metric-navy-form" accept-charset="utf-8" class="form-style-7" style="display:none" onsubmit="metricusnavy(); return false;">

                <ul>

                    <li>
                        <div id="gender">
                            <label for="name">Gender</label>
                            <input type="radio" name="gender" id="m" value="3" required>Male</input>
                            <input type="radio" name="gender" id="f" value="4">Female</input>
                        </div>
                    </li>

                    <li>
                        <label for="name">Age</label>
                        <input type="text" name="age" id="age123" placeholder="25" required>
                        <span>Age must be in years</span>

                    </li>

                    <li>
                        <label for="name">Weight</label>
                        <input type="text" name="weight" id="weight123" placeholder="75" required>
                        <span>Weight must be in Kgs, for example 75</span>
                    </li>

                    <li>
                        <label for="name">Height</label>
                        <input type="text" name="height" id="height" placeholder="190" required>
                        <span>If you are 190 cm, enter 190</span>
                    </li>

                    <li>
                        <label for="name">Neck</label>
                        <input type="text" name="neck" id="neck" placeholder="60" required>
                        <span>If you are 60 cm, enter 60</span>
                    </li>

                    <li>
                        <label for="name">Waist</label>
                        <input type="text" name="waist" id="waist" placeholder="105" required>
                        <span>If you are 105 cm, enter 105</span>
                    </li>

                    <div id="metrictextboxes" style="display: none">

                        <li>
                            <label for="name">Hip</label>
                            <input type="text" name="hip" id="hip" placeholder="100">
                            <span>If you are 100 cm, enter 100</span>
                        </li>
                    </div>

                    <br>
                    <li>
                        <input type="submit" name="submit" id="submit" onclick="showDiv()" value="CALCULATE" /> </li>

                </ul>
                <!-- onclick='usnavy()'  -->

            </form>


            <h2 style="background-color:#faf1f0;border-bottom: none; text-align: center">ENHANCE YOUR FACIAL FEATURES</h2>


      <p style="text-align: left;">
              The <a href="https://faceenhance.com/products/face-slimming-mask-for-men-women">Face Slimming Mask</a> from <a href="https://faceenhance.com/">Face Enhance</a> is a revolutionary one-of-a kind product that provides a simple, non-evasive way of sharpening your facial features and reducing your double chin just from wearing it for only 30 minutes a day.

      <a href="https://faceenhance.com/"><img class="lazy" data-src="../static/images/Faceenhance.png" alt="Face Enahnce - Face Slimming Mask for Men & Women" style="max-width:100%;height:auto; display: block;   margin-left: auto;   margin-right: auto;"></a>

              Here are some of the benefits of <b>The Face Slimming Mask</b>:<br /><br />
              1.	Helps reduce the appearance of unwanted facial fat, also known as that unattractive double chin.<br /><br />
              2.	Provides a firm, attractive shape that gives your face a slimmer, contoured look without the need of any painful or expensive medical procedures.<br /><br />
              3.	Tightens up the face and neck with a simple, adjustable fit that was created with your comfort in mind.<br /><br />

            To learn more about The Face Slimming Mask, check out <mark><a href="https://faceenhance.com/">Face Enhance</a></mark>.



            </p>
            <h2 style="background-color:#faf1f0;border-bottom: none; text-align: center">CALCULATION: BODY FAT PERCENTAGE & BMI ANALYSIS</h2>


            <p>

                <table id="customers">



                    <tr>
                        <th>
                            <label> TYPE</label>
                        </th>
                        <th>
                            <label>ANALYSIS</label>
                        </th>

                    </tr>
                    <tr>
                        <td>
                            <label> Total Body Fat Percentage</label>
                        </td>
                        <td>
                            <label id='usnavy-label'></label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>Total Fat Body Mass</label>
                        </td>
                        <td>
                            <label id='fatmass'></label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>Total Lean Body Mass</label>
                        </td>
                        <td>
                            <label id='leanmass'></label>
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <label>Meet Army Body Fat Standard</label>
                        </td>
                        <td>
                            <label id='army-note'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>Body Fat Percentage To Lose To Meet Initial Army Standard</label>
                        </td>
                        <td>
                            <label id='army-standard-answer'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>Body Fat Percentage To Lose Post Army Qualification</label>
                        </td>
                        <td>
                            <label id='army-post-answer'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>Meet Marine Body Fat Standard</label>
                        </td>
                        <td>
                            <label id='marine-note'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>Body Fat Percentage To Lose To Meet Marine Standard</label>
                        </td>
                        <td>
                            <label id='marine-standard-answer'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label id='navy-text'>Meet Navy Body Fat Standard</label>
                        </td>
                        <td>
                            <label id='navy-note'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>Body Fat Percentage To Lose To Meet Navy Standard</label>
                        </td>
                        <td>
                            <label id='navy-standard-answer'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>BMI</label>
                        </td>
                        <td>
                            <label id='bmi'></label>
                        </td>

                    </tr>

                    <tr>
                        <td>
                            <label>BMI Category</label>
                        </td>
                        <td>
                            <label id='bmi-category'></label>
                        </td>

                    </tr>

                </table>

                <br>








                <!-- <table id="customers">
                    <strong><label  >American Council on Exercise Standards  </label></strong>
                    <br>

                    <tr>
                        <th>Description</th>
                        <th>Men</th>
                        <th>Women</th>
                    </tr>
                    <tr>
                        <td>Essential fat</td>
                        <td>3–5%</td>
                        <td>10–13%</td>
                    </tr>
                    <tr>
                        <td>Athletes</td>
                        <td>6–13%</td>
                        <td>14–20%</td>
                    </tr>
                    <tr>
                        <td>Fitness</td>
                        <td>14–17%</td>
                        <td>21–24%</td>
                    </tr>
                    <tr>
                        <td>Average</td>
                        <td>18–24%</td>
                        <td>25–31%</td>
                    </tr>
                    <tr>
                        <td>Obese</td>
                        <td>25+%</td>
                        <td>32+%</td>
                    </tr>
                </table>

                <br>
                <br> -->

            </p>




            <h2 style="background-color:#faf1f0;border-bottom: none; text-align: center; ">What is the Body Fat Calculator Based On?</h2>

            <p style="text-align: left;">

                The Body Fat Calculator is based on equations developed by James A. Hodgdon and Marcie B. Beckett at the U.S. Naval Health Research Center in 1984 and involves measuring height and the circumference of the neck, waist, and hips (only for women) and plugging
                the data into an equation (different for men and women) to determine total body fat percentage. Details on the equations can be found <a href="https://www.estimatebodyfat.com/different-ways-to-measure-body-fat.html">here</a>.
                <br>
            </p>

            <p>
                <img class="lazy" data-src="../static/images/bodyfat-tapemeasurement.jpg" alt="Military Body Fat Tape Measurement Calculator - Test" style="max-width:100%;height:auto; ">
                <br>
                <br>
            </p>

            <p style="text-align: left;">

                Included below are the cut-off body fat percentages for the different age groups and sexes in the U.S. Army, U.S. Marine, and U.S. Navy Corp.
                <br>
                <br>The Department of Deference has set a minimum goal of 18% body fat percentage for men and 26% for women.
                <br>
                <br>

            </p>

            <h2 style="background-color:#faf1f0;border-bottom: none; text-align: center; ">Instructions for Body Part Measurement</h2>
            <p style="text-align: left;">

                <b>General</b>: It is best to take multiple measurements and average them out before putting the numbers into the body fat calculator. For a more accurate assessment, ask someone else to take your measurements.
                <br>
                <br>

                <b>Height</b>: It is important to be still, stand barefoot and look ahead during measurement.
                <br>
                <br>

                <b>Neck</b>: Stay relaxed, look ahead and get the measurement of the circumference of the neck at a point just below Adam’s apple (larynx).
                <br>
                <br>

                <b>Waist</b>: Look straight ahead, keep your arms placed at your side and do not suck in your gut. Measure the circumference of the belly around the navel.
                <br>
                <br>

                <b>Hip</b>: Feet must be placed close together and the measurement must include the largest circumference of the hips.
                <br>
                <br> The calculator above includes settings for the Metric System as well as the U.S. Customary System.
                <br>
                <br>
            </p>

            <h2 style="background-color: #ffe9e5; border-bottom: none; text-align: center">U.S. Army Body Fat Standard</h2>
            <p style="text-align: left;">The Body Fat Calculator takes into account all the factors used by the U.S. Military in measuring a recruit's body fat percentage. In accordance with the <a href="https://wct.army.mil/documents/policies/AR40-501_STANDARDS_OF_MEDICAL_FITNESSAL.pdf">U.S. Army Standards of Medical Fitness</a>,
                a candidate must meet its maximum allowable body fat percentage standard prior to entry in the army. These body fat percentages are as follows:
                <br>
                <br>

                <style>
                    #customers {
                        font-family: "futura", Arial, Helvetica, sans-serif;
                        border-collapse: collapse;
                        width: 100%;
                    }

                    #customers td,
                    #customers th {
                        border: 1px solid #ddd;
                        padding: 8px;
                    }

                    #customers tr:nth-child(even) {
                        background-color: #f2f2f2;
                    }

                    #customers tr:hover {
                        background-color: grey;
                    }

                    #customers th {
                        padding-top: 12px;
                        padding-bottom: 12px;
                        text-align: left;
                        background-color: #ff9080;
                        color: white;
                    }
                </style>

                <strong>Initial Qualification</strong>
                <br>
                <table id="customers">
                    <tr>
                        <th>Age</th>
                        <th>Men</th>
                        <th>Women</th>
                    </tr>
                    <tr>
                        <td>17-20</td>
                        <td>26%</td>
                        <td>32%</td>
                    </tr>
                    <tr>
                        <td>21-27</td>
                        <td>26%</td>
                        <td>32%</td>
                    </tr>
                    <tr>
                        <td>28-39</td>
                        <td>28%</td>
                        <td>34%</td>
                    </tr>
                    <tr>
                        <td>40 +</td>
                        <td>30%</td>
                        <td>36%</td>
                    </tr>
                </table>

                <br> Upon entry into the army, the recruit must meet its more stringent body fat percentage standard or else be put on a mandatory fat loss plan. The candidate could face additional discipline is these body fat percentage standards are
                not met. These body fat percentages are as follows:
                <br>
                <br>

                <strong>Body Fat Percentage Qualification Post Army Entry</strong>
                <br>
                <table id="customers">
                    <tbody>
                        <tr>
                            <th>Age</th>
                            <th>Men</th>
                            <th>Women</th>
                        </tr>
                        <tr>
                            <td>17-20</td>
                            <td>20%</td>
                            <td>30%</td>
                        </tr>
                        <tr>
                            <td>21-27</td>
                            <td>22%</td>
                            <td>32%</td>
                        </tr>
                        <tr>
                            <td>28-39</td>
                            <td>24%</td>
                            <td>34%</td>
                        </tr>
                        <tr>
                            <td>40 +</td>
                            <td>26%</td>
                            <td>36%</td>
                        </tr>
                    </tbody>
                </table>

                <br> Finally, the Department of Defence has set 18% body fat percentage for men and 26% for women as the ideal goal for every single member.
                <br>
                <br>

            </p>

            <h2 style="background-color: #ffe9e5; border-bottom: none; text-align: center">U.S. Marine Body Fat Standard</h2>
            <p style="text-align: left;">
                <p style="text-align: left;">The U.S. Marine Corps. Body fat percentage standard is based in accordance with the <a href="https://www.marines.mil/portals/1/Publications/MCO%206110.3A%20CH-1%20%20ADMIN%20CH.pdf?ver=2019-05-01-115625-430">Marine Corps Body Composition and Military Appearance Program</a>.
                    These body fat percentages are as follows:
                    <br>
                    <br>

                    <strong>Body Fat Percentage Qualification U.S. Marine Corps.</strong>
                    <br>

                    <table id="customers">
                        <thead>
                            <tr>
                                <th> Age </th>
                                <th> Men </th>
                                <th> Women </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    17 to 20
                                </td>
                                <td>
                                    18%
                                </td>
                                <td>
                                    26%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    21 to 25
                                </td>
                                <td>
                                    18%
                                </td>
                                <td>
                                    26%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    26 to 30
                                </td>
                                <td>
                                    19%
                                </td>
                                <td>
                                    27%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    31 to 35
                                </td>
                                <td>
                                    19%
                                </td>
                                <td>
                                    27%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    36 to 40
                                </td>
                                <td>
                                    20%
                                </td>
                                <td>
                                    28%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    41 to 45
                                </td>
                                <td>
                                    20%
                                </td>
                                <td>
                                    28%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    46 to 50
                                </td>
                                <td>
                                    21%
                                </td>
                                <td>
                                    29%
                                </td>
                            </tr>
                            <tr>
                                <td> 51 +</td>
                                <td>
                                    21%
                                </td>
                                <td>
                                    29%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>

                </p>

                <h2 style="background-color: #ffe9e5; border-bottom: none; text-align: center">U.S. Navy Body Fat Standard</h2>
                <p style="text-align: left;">The U.S. Marine Corps. Body fat percentage standard is based in accordance with <a href="https://www.public.navy.mil/bupers-npc/support/21st_Century_Sailor/physical/Documents/Guide%204-%20Body%20Composition%20Assessment%20(BCA)%20(May%202019).pdf">The Body Composition Assessment (BCA)</a>.
                    The maximum allowable body fat percentages are as follows:
                    <br>
                    <br>

                    <table id="customers">
                        <thead>
                            <tr>
                                <th> Age</th>
                                <th> Men </th>
                                <th> Women </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    18 to 21
                                </td>
                                <td>
                                    22%
                                </td>
                                <td>
                                    33%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    22 to 29
                                </td>
                                <td>
                                    23%
                                </td>
                                <td>
                                    34%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    30 to 39
                                </td>
                                <td>
                                    24%
                                </td>
                                <td>
                                    35%
                                </td>
                            </tr>
                            <tr>
                                <td> 40 + </td>
                                <td>
                                    26%
                                </td>
                                <td>
                                    36%
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>

                </p>

                <h2 style="background-color: #ffe9e5; border-bottom: none; text-align: center">Body Mass Index (BMI) Standard</h2>

                <p style="text-align: left;">

                    BMI is a simple measurement based on your height and weight to determine if you are underweight, normal weight, overweight or obese. BMI does not measure body fat percentage directly but has shown to moderately correlate with other methods of body fat
                    measurement.
                    <br>
                    <br> It is a rudimentary measurement and can vary significantly depending on age, distribution of muscle mass, bone density and fat mass. The BMI calculation does not take ethnic body differences into account. It should be taken as
                    a rule of thumb rather than the perfect determination of your overall health.
                    <br>
                    <br>

                    <strong>BMI General Categories</strong>
                    <br>

                    <table id="customers">
                        <thead>
                            <tr>
                                <th>BMI</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Below 18.5</td>
                                <td>Underweight</td>
                            </tr>
                            <tr>
                                <td>18.5 – 24.9</td>
                                <td>Normal or Healthy Weight</td>
                            </tr>
                            <tr>
                                <td>25.0 – 29.9</td>
                                <td>Overweight</td>
                            </tr>
                            <tr>
                                <td>30.0 and Above</td>
                                <td>Obese</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </p>

                <p style="text-align: center;">

                    <strong>BMI Height & Weight Chart</strong>
                    <br>
                </p>
                <p>
                    <img class="lazy" data-src="../static/images/bmi-chart.png" alt="BMI Chart" style="max-width:100%;height:auto; "></p>

                <p style="text-align: center;">
                    Source: <a href="https://en.wikipedia.org/wiki/Body_mass_index">Wikipedia</a>
                    <br>
                    <br>
                </p>

                <p style="text-align: left;">

                    <strong>   The World Health Organization has the following breakdown for BMI Categories:  </strong>
                    <br>

                    <table id="customers">
                        <tbody>
                            <tr>
                                <th>Category</th>
                                <th>BMI (FROM)</th>
                                <th>BMI (TO)</th>
                            </tr>
                            <tr>
                                <td>Very severely underweight</td>
                                <td>-</td>
                                <td>15</td>
                            </tr>
                            <tr>
                                <td>Severely underweight</td>
                                <td>15</td>
                                <td>16</td>
                            </tr>
                            <tr>
                                <td>Underweight</td>
                                <td>16</td>
                                <td>18.5</td>
                            </tr>
                            <tr>
                                <td>Normal (healthy weight)</td>
                                <td>18.5</td>
                                <td>25</td>
                            </tr>
                            <tr>
                                <td>Overweight</td>
                                <td>25</td>
                                <td>30</td>
                            </tr>
                            <tr>
                                <td>Obese Class I (Moderately obese)</td>
                                <td>30</td>
                                <td>35</td>
                            </tr>
                            <tr>
                                <td>Obese Class II (Severely obese)</td>
                                <td>35</td>
                                <td>40</td>
                            </tr>
                            <tr>
                                <td>Obese Class III (Very severely obese)</td>
                                <td>40</td>
                                <td>45</td>
                            </tr>
                            <tr>
                                <td>Obese Class IV (Morbidly obese)</td>
                                <td>45</td>
                                <td>50</td>
                            </tr>
                            <tr>
                                <td>Obese Class V (Super obese)</td>
                                <td>50</td>
                                <td>60</td>
                            </tr>
                            <tr>
                                <td>Obese Class VI (Hyper obese)</td>
                                <td>60+</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>

                </p>

                <h2 style="background-color: #ffe9e5; border-bottom: none; text-align: center">Other Body Fat Calculators</h2>
                </summary>
                <p style="text-align: left;">

                    <a href="https://www.estimatebodyfat.com/ai-calculator.html"> A.I. Body Fat Percentage Calculator</a>
                    <br>
                    <br>
                    <a href="https://www.estimatebodyfat.com/body-fat-calculator.html"> U.S. Military Body Fat and BMI Calculator</a>
                    <br><br>
                    <a href="https://www.estimatebodyfat.com/caliper-calculator.html"> Skinfold Caliper Body Fat and BMI Calculator</a>
                    <br><br>
                    <a href="https://www.estimatebodyfat.com/face-fat.html"> Face Fat Calculator</a>
                    <br>

                </p>






            </p>


            <details>
                <summary>

                    <h2 style="background-color: #ffe9e5; border-bottom: none; text-align: center">Additional Sources</h2>
                </summary>
                <p style="text-align: left;">

                    1. <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC6650177/">Comparison of Bioelectrical Impedance and Navy Seal Formula to Measure Body Composition in Medical Students</a>
                    <br>
                    <br> 2. <a href="https://www.ncbi.nlm.nih.gov/books/NBK221832/">Weight Management: State of the Science and Opportunities for Military Programs</a>.
                    <br>
                    <br> 3. <a href="https://www.ncbi.nlm.nih.gov/books/NBK221832/table/ttt00007/?report=objectonly">Maximum Body Fat (%) for Accession and Retention</a>

            </details>



            <a style="text-decoration:none" name="downloadweightlossguide">
                <h2 style="background-color: #ff9e8c; text-align:center; border-bottom: #ff9e8c;">Get One Free Daily Motivational Quote to Your Email</h2>
            </a>

            <form action="https://sendy.estimatebodyfat.com//subscribe" method="POST" accept-charset="utf-8" class="form-style-7" style="border-left: 2px solid #ffd3cf; border-right: 2px solid #ffd3cf;">
                <ul>
                    <li>
                        <label for="name">Name</label>
                        <input type="text" name="name" maxlength="100">
                        <span>Enter your full name here</span>
                    </li>
                    <li>
                        <label for="email">Email</label>
                        <input type="email" name="email" maxlength="100">
                        <span>Enter a valid email address</span>
                    </li>

                    <label style="border: none;"><input type="checkbox" name="gdpr" id="gdpr" />
                        <span><strong>Marketing permission</strong>: I give my consent to  to be in touch with me via email using the information I have provided in this form for the purpose of news, updates and marketing.</span></label>
                    <br/>
                    <br/>
                    <span style="text-align: left;"><strong>What to expect</strong>: If you wish to withdraw your consent and stop hearing from us, simply click the unsubscribe link at the bottom of every email we send or contact us at contact@estimatebodyfat.com. We value and respect your personal data and privacy. To view our privacy policy, see link below. By submitting this form, you agree that we may process your information in accordance with these terms.</span>
                    <br/>
                    <br/>
                    <div style="display:none;">
                        <label for="hp">HP</label>
                        <br/>
                        <input type="text" name="hp" id="hp" />
                    </div>
                    <input type="hidden" name="list" value="cTpuBoYwRzvcOIOIIHcUCQ" />
                    <input type="hidden" name="subform" value="yes" />
                    <li>
                        <input type="submit" name="submit" id="submit" value="SUBMIT" /> </li>

                </ul>
            </form>

            <style type="text/css">
                .form-style-7 {
                        border-left: 2px solid #ffd3cf;
                        border-right: 2px solid #ffd3cf;
                        /* max-width:700px;
                                         margin:50px auto;
                                         background:#fff;
                                         border: 2px solid #ffd3cf; */
                        font-family: futura;
                        text-align: left;
                    }

                    .form-style-7 h1 {
                        display: block;
                        text-align: center;
                        padding: 0;
                        margin: 0px 0px 20px 0px;
                        color: #5C5C5C;
                        font-size: x-large;
                    }

                    .form-style-7 ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;
                    }

                    .form-style-7 li {
                        display: block;
                        padding: 9px;
                        border: 1px solid #DDDDDD;
                        margin-bottom: 30px;
                        border-radius: 3px;
                    }

                    .form-style-7 li:last-child {
                        border: none;
                        margin-bottom: 0px;
                        text-align: center;
                    }

                    .form-style-7 li > label {
                        display: block;
                        float: left;
                        margin-top: -19px;
                        background: #FFFFFF;
                        /* height: 14px; */
                        padding: 2px 5px 2px 5px;
                        color: black;
                        border: 2px solid #ffd3cf;
                        font-size: 19px;
                        overflow: hidden;
                        font-family: futura;
                    }

                    .form-style-7 input[type="text"],
                    .form-style-7 input[type="date"],
                    .form-style-7 input[type="datetime"],
                    .form-style-7 input[type="email"],
                    .form-style-7 input[type="number"],
                    .form-style-7 input[type="search"],
                    .form-style-7 input[type="time"],
                    .form-style-7 input[type="url"],
                    .form-style-7 input[type="password"],
                    .form-style-7 textarea,
                    .form-style-7 select {
                        box-sizing: border-box;
                        -webkit-box-sizing: border-box;
                        -moz-box-sizing: border-box;
                        width: 100%;
                        display: block;
                        outline: none;
                        border: none;
                        height: 25px;
                        line-height: 25px;
                        font-size: 16px;
                        padding: 10px;
                        font-family: futura;
                    }

                    .form-style-7 input[type="text"]:focus,
                    .form-style-7 input[type="date"]:focus,
                    .form-style-7 input[type="datetime"]:focus,
                    .form-style-7 input[type="email"]:focus,
                    .form-style-7 input[type="number"]:focus,
                    .form-style-7 input[type="search"]:focus,
                    .form-style-7 input[type="time"]:focus,
                    .form-style-7 input[type="url"]:focus,
                    .form-style-7 input[type="password"]:focus,
                    .form-style-7 textarea:focus,
                    .form-style-7 select:focus {}

                    .form-style-7 li > span {
                        background: #F3F3F3;
                        display: block;
                        padding: 3px;
                        margin: 0 -9px -9px -9px;
                        text-align: center;
                        color: #C0C0C0;
                        font-family: futura;
                        font-size: 15px;
                    }

                    .form-style-7 textarea {
                        resize: none;
                    }

                    .form-style-7 input[type="submit"],
                    .form-style-7 input[type="button"] {
                        background: #c83636;
                        border: none;
                        padding: 15px 40px 15px 40px;
                        /* border-bottom: 3px solid #5994FF; */
                        border-radius: 5px;
                        color: #D2E2FF;
                        font-size: 20px;
                    }

                    .form-style-7 input[type="submit"]:hover,
                    .form-style-7 input[type="button"]:hover {
                        background: #278357;
                        color: #fff;
                    }
            </style>

            <script type="text/javascript">
                //auto expand textarea
                    function adjust_textarea(h) {
                        h.style.height = "20px";
                        h.style.height = (h.scrollHeight) + "px";
                    }
            </script>


            <details>
                <summary>

                    <h2 style="background-color: #ffe9e5; border-bottom: none">Disclaimer</h2>

                </summary>
                <p style="text-align: left;">None of the website's content is meant to be taken as medical advice. Speak to your healthcare professional for medical advice
                    <br>
                    <br> I Lov Guitars Inc. will not be held liable for any claim, damage or other liability arising from, out, or in connection with using this web application and its content.

                    <br>
                    <br> Images used on <a href="https://www.estimatebodyfat.com/">Estimate Body Fat </a> have been obtained from Royalty Free Sites or purchased from Stock Repositories.

                </p>
            </details>
            <br>

            <details>
                <summary>

                    <h2 style="background-color: #ffe9e5; border-bottom: none">Credits</h2>


                </summary>


                <p style="text-align: left;">Special thanks goes out to Rachel Thomas and Jeremy Howard from <a href="https://www.fast.ai/">Fast A.I. </a>without whom this web application would not be possible. This application is built based on Jeremy's Bear Classifier WebApp. If
                    you are interested in learning about Deep Learning and how you can use AI in your projects, Fast AI holds free courses anyone can take on their website. Please do give them a look if you are curious. <br><br>In addition to Fast A.I.,
                    this web application also uses the <a href="https://github.com/Foliotek/Croppie">Croppie Plugin </a> and custom made <a href="https://github.com/opencv/opencv/tree/master/data/haarcascades">Haar Cascades </a>. <br><br>I would also
                    like to thank Dr. Jason Fung for writing such a life-changing book on solving Obesity and Harrison's <a href="https://pythonprogramming.net/haar-cascade-object-detection-python-opencv-tutorial/ ">Free tutorials on Haar Cascades </a>                    <br><br> Images used on <a href="https://www.estimatebodyfat.com/">Estimate Body Fat </a> have been obtained from Royalty Free Sites or purchased from Stock Repositories. <br><br>If you notice a discrepancy with anything, feel free
                    to send me a message at contact@estimatebodyfat.com

                    <br><br></p>

            </details>


            <footer>

                <div>

                    <p style="border-top:   2px solid #ffd3cf;"><a style="color:orange; " href="https://www.estimatebodyfat.com/privacy.html">Privacy Policy</a></p>
                    <p><a style="color:orange; " href="https://www.estimatebodyfat.com/termsofuse.html">Terms of Use</a></p>

                    <p style="border-bottom:   2px solid #ffd3cf;">Copyright <a style="color:orange;">Estimate Body Fat © 2021</a> </p>

                </div>

                <div id="amzn-assoc-ad-04a921e3-efd1-4797-9946-32af2861d45e"></div>
                <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=04a921e3-efd1-4797-9946-32af2861d45e"></script>
            </footer>

        </div>
    </div>

    <script src='../static/jquery.min.js'></script>
    <script src='../static/sweetalert.min.js'></script>
    <script src="../static/croppie.js"></script>
    <script src="../static/script.js"></script>
    <script src="../static/exif.js"></script>
    <script src='../static/client.js'></script>
    <script>
        CropImage.init();
    </script>



    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </div>
    </div>

    <script src="https://my.hellobar.com/a32bd13ad389482f645ce379ceb8ad3631ae81f8.js" type="text/javascript" charset="utf-8" async="async"></script>


</body>

</html>
