<html lang='en'>
<head>
<title> Estimate Body Fat - AI powered Body Fat Percentage Calculator</title>
<meta name="description" content="Determine your body fat percentage with only a picture using AI. No Tape! No Scales! No Measurements!">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src="jquery-3.4.0.min.js"></script>
    <link rel="stylesheet" href="../static/croppie.css" />
    <link rel="stylesheet" href="../static/sweetalert.css" />
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
</head>
<body>
<div>
<div class='center'>
<div class="header"> <img src="https://storage.googleapis.com/estimatebodyfatimages/headerbanner.png" class="logo" alt="logo"></div>
<div id='cssmenu'>
<ul>
   <li><a href='#'><span>Home</span></a></li>
   <li class='active has-sub'><a href='#'><span>Products</span></a>
      <ul>
         <li class='has-sub'><a href='#'><span>Product 1</span></a>
            <ul>
               <li><a href='#'><span>Sub Product</span></a></li>
               <li class='last'><a href='#'><span>Sub Product</span></a></li>
            </ul>
         </li>
         <li class='has-sub'><a href='#'><span>Product 2</span></a>
            <ul>
               <li><a href='#'><span>Sub Product</span></a></li>
               <li class='last'><a href='#'><span>Sub Product</span></a></li>
            </ul>
         </li>
      </ul>
   </li>
   <li><a href='#'><span>About</span></a></li>
   <li class='last'><a href='#'><span>Contact</span></a></li>
</ul>
</div>


        <h1>BODY FAT PERCENTAGE CALCULATOR</h1>
        <p>
            Determine your body fat percentage with only a picture using AI.<br> No Tape! No Scales! No Measurements!
        </p>

        <h2>How to get your body fat percentage?</h2>






      <video autoplay loop muted playsinline width="500" controls>
        <source src="https://storage.googleapis.com/estimatebodyfatimages/output.mp4" type="video/mp4">
       </video>











      <div class="content">
      <div class="upload-demo-wrap">
          <div id="upload-demo"></div>
      </div>
      <div class="actions"><h3> STEP 1</h3>
          <a class="btn file-btn" >
    <span>Upload your Picture </span>

               <input type="file"   id="upload"  value="Choose a file"  accept="image/*"  >


          </a>
      <br><br>    <br><br> <h3> STEP 2</h3> <button class="upload-result">Crop Your Upper Body</button>
      </div>


      <div class='analyze'><h3> STEP 3</h3>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Estimate Your Body Fat</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>




            <h2>How does the body fat AI detector work?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <a id="healthy_body_fat_range_men_women" title="Healthy body fat range for men and women"><h2>What is the healthy body fat range for men and women?</h2></a>

            <p>
                Follow these 3 simple steps!
            </p>

            <h2>What are the limitations for the AI?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>Is my picture saved when I upload it?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>Who created this body fat detector and why?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>What are some resources to body fat?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>But, how do I lose body fat fast?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>What is the best way to lose body fat and keep it off?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>Interested in making the AI better ?</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>CREDITS</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>REFERENCES</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <h2>DISCLAIMER</h2>
            <p>
                Follow these 3 simple steps!
            </p>

            <footer>

            <div>
            <p><a style="color:orange;" href="/contact.php">Contact Us</a></p>
            <p><a style="color:orange;" href="/reviews.php">Customer Reviews</a></p>
            <p><a style="color:orange;" href="/faq.php#405">Privacy Policy</a></p>


              <p>Images rendered by the Estimate Body Fat are <br>Copyright <a style="color:orange;" href="/faq.php#403">Estimate Body Fat. © 2019</a> </p>

  </div>
          </footer>



    </div>
</div>

<div id="amzn-assoc-ad-04a921e3-efd1-4797-9946-32af2861d45e"></div><script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=04a921e3-efd1-4797-9946-32af2861d45e"></script>
<script src='../static/jquery.min.js'></script>
<script src='../static/sweetalert.min.js'></script>
<script src="../static/croppie.js"></script>
<script src="../static/script.js"></script>
<script src="../static/exif.js"></script>
<script src='../static/client.js'></script>
<script>       CropImage.init();   </script>
</body>
</html>
</div>
</div>
</body>
</html>
