

video {
 width: 100%;
 height: 355px;
}






@media screen and (min-width: 1681px) {

    h1, h2,p,  .content {
    width:70%%;
    margin: 0px 350px 0px 350px;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;

  }

  h1 {
      font-size: 32px;
      color: #262626;
  }


  h2 {
    font-size: 30px;

  }

  p {
    font-size: 20px;

  }




 .header {
    margin: -10px 350px 0px 350px;

   overflow: hidden;
   background-color: #f1f1f1;
   padding: 0px 0px;
  }


  .logo {
    width: 100%;
    max-width: 1275px;
    max-height:100px;




    height: auto;
  }


 .header a {
   float: left;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
  }

 .header a.logo {
   font-size: 25px;
   font-weight: bold;

  }

  .header a:hover {
   background-color: #ddd;
   color: black;
  }

  .header a.active {
   background-color: dodgerblue;
   color: white;
  }

  .header-right {
   float: right;
  }

}

/*

@media screen and (max-width: 500px) {
 .header a {
   float: none;
   display: block;
   text-align: left;
 }

 .header-right {
   float: none;
 }
} */











footer {
  clear: both;
    position: relative;
    height: 40px;
    /* margin-top: -50px; */
}


@media screen and (max-width: 1680px) {

  h1, h2, p, .content {
    width:70%%;
      margin: 0px 160px 0px 160px;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
  }

  h1 {
      font-size: 30px;
      color: #262626;
  }

  h2 {
    font-size: 30px;

  }

  p {
    font-size: 20px;


  }





  .header {
    margin: -10px 160px 0px 160px;

   overflow: hidden;
   background-color: #f1f1f1;
   padding: 0px 0px;
  }

  .logo {
    width: 100%;
    max-width: 1275px;
    max-height:100px;
}

  .header a {
   float: left;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
  }

  .header a.logo {
   font-size: 25px;
   font-weight: bold;
  }

  .header a:hover {
   background-color: #ddd;
   color: black;
  }

  .header a.active {
   background-color: dodgerblue;
   color: white;
  }

  .header-right {
   float: right;
  }



}

@media screen and (max-width: 1280px) {

   h1, h2, p,   .content {
   width:100%%;
   margin: 0px 100px 0px 100px;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
  }

  h1 {
      font-size: 26px;
      color: #262626;
  }

  h2 {
    font-size: 20px;

  }

  p {
    font-size: 15px;


  }



    .header {
      margin: -10px 100px 0px 100px;

     overflow: hidden;
     background-color: #f1f1f1;
     padding: 0px 0px;
    }


    .logo {
      width: 100%;
      max-width: 1275px;
      max-height:100px;
  }


    .header a {
     float: left;
     color: black;
     text-align: center;
     padding: 12px;
     text-decoration: none;
     font-size: 18px;
     line-height: 25px;
     border-radius: 4px;
    }

    .header a.logo {
     font-size: 25px;
     font-weight: bold;
    }

    .header a:hover {
     background-color: #ddd;
     color: black;
    }

    .header a.active {
     background-color: dodgerblue;
     color: white;
    }

    .header-right {
     float: right;
    }




}

@media screen and (max-width: 980px) {

h1, h2, p,   .content {
  width:70%%;
  margin: -10px -20px 0px -20px;
    padding: 10px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
  }


  h1 {
      font-size: 22px;
      color: #262626;
  }


  h2 {
    font-size: 20px;

  }

  p {
    font-size: 15px;


  }


      .header {
        margin: -10px -20px 0px -20px;

       overflow: hidden;
       background-color: #f1f1f1;
       padding: 0px 0px;
      }

      .logo {
        width: 100%;
        max-width: 1275px;
        max-height:100px;
    }



      .header a {
       float: left;
       color: black;
       text-align: center;
       padding: 12px;
       text-decoration: none;
       font-size: 18px;
       line-height: 25px;
       border-radius: 4px;
      }

      .header a.logo {
       font-size: 25px;
       font-weight: bold;
      }

      .header a:hover {
       background-color: #ddd;
       color: black;
      }

      .header a.active {
       background-color: dodgerblue;
       color: white;
      }

      .header-right {
       float: right;
      }


}

@media screen and (max-width: 736px) {

       h1,   h2, p, .content {
  width:70%%;
  margin: -10px -50px 0px -50px;
    padding: 10px;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
  }

  h1 {
      font-size: 20px;
      color: #262626;
  }

  h2 {
    font-size: 20px;

  }

  p {
    font-size: 13px;

  }



  .header {
    margin: 0px -50px 0px -50px;

   overflow: hidden;
   background-color: #f1f1f1;
   padding: 0px 0px;
  }

  /* .logo {
    width: 100%;
    max-width: 1275px;
    max-height:100px;
} */


  .header a {
   float: left;
   color: black;
   text-align: center;
   padding: 12px;
   text-decoration: none;
   font-size: 18px;
   line-height: 25px;
   border-radius: 4px;
  }

  .header a.logo {
   font-size: 25px;
   font-weight: bold;
  }

  .header a:hover {
   background-color: #ddd;
   color: black;
  }

  .header a.active {
   background-color: dodgerblue;
   color: white;
  }

  .header-right {
   float: right;
  }





}







p {
      border: 1px solid #3D3D3D;
      background-color: #efefef;

}


h1, .productBox.full h6 {

      color: white;
      border: 1px solid #3D3D3D;
      /* border-left: none;
      border-right: none; */
      background-color:#7052CB ;
}




h2, .productBox.full h6 {
      /* font-size: 1.5em; */
      /* font-size: 1.3em; */
      /* font-weight: 600; */
      color: #333333;
      border: 1px solid #3D3D3D;
      /* border-left: none;
      border-right: none; */
      background-color: #f5f5cb;
}



body {
    background-color: #fff;
}

.no-display {
    display: none;
}

.center {
  width:auto;
  margin: auto;
    padding: 0px;
    padding-left:50px;
    padding-right:50px;
    text-align: center;
    font-size: 14px;
}



.content {
    /* margin-top: 10em; */
    background-color: lightgrey;
    padding: 20px;
    border: 1px solid #3D3D3D;
    /* border-left: none;
    border-right: none; */
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
  width: 100px;
  height: 90px;
  border-radius: 2px;
  background-color: #ffffff;
  border: solid 1px #7052CB;
  font-size: 13px;
  color: #7052CB;
}

button.analyze-button {

      width: 200px;
      height: 40px;
      padding: 10px;
  color: white;
  background-color: #32CD32	;
  border: 1px solid #000;
    font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
  }


  button.analyze-button:hover {
     background-color: #228B22	;

  }
button.upload-result {
    /* width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 2px;
    background-color: red;
    font-size: 13px;
    color: #ffffff; */

    width: 200px;
    height: 40px;
    padding: 10px;
color: white;
background-color: #BDB76B	;
border: 1px solid #000;
  font-size: 17px;
border-radius: 5px;
cursor: pointer;
}


button.upload-result:hover {
   background-color: #808000;

}





button.btn file-btn {
  width: 200px;
height: 40px;
border-radius: 2px;
background-color: #ffffff;
border: solid 1px #7052CB;
font-size: 13px;
color: #7052CB;
}



button:focus {outline:0;}

#custom-button {
  width: 200px;
  height: 40px;
  padding: 10px;
  color: white;
  background-color: #BDB76B	;
  border: 1px solid #000;
  font-size: 17px;
  border-radius: 5px;
  cursor: pointer;
}

#custom-button:hover {
  background-color: #00b28f;
}















  @import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;




}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;
  background: #39b1cc;
  background: -moz-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51bbd2), color-stop(100%, #2d97af));
  background: -webkit-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -o-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: -ms-linear-gradient(top, #51bbd2 0%, #2d97af 100%);
  background: linear-gradient(to bottom, #51bbd2 0%, #2d97af 100%);



    margin: 0px 350px 0px 350px;
    text-align: center;




}
#cssmenu > ul {
  background: url('images/bg.png');
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.05);
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu > ul > li {
  float: left;
  display: inline-block;
}
#cssmenu.align-center > ul {
  float: none;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu > ul > li > a {
  padding: 18px 25px 21px 25px;
  border-right: 1px solid rgba(80, 80, 80, 0.12);
  text-decoration: none;
  font-size: 13px;
  font-weight: 700;
  color: #d3eced;
  text-transform: uppercase;
  letter-spacing: 1px;


}
#cssmenu > ul > li:hover > a,
#cssmenu > ul > li > a:hover,
#cssmenu > ul > li.active > a {
  color: #ffffff;
  background: #32a9c3;
  background: rgba(0, 0, 0, 0.1);
}
#cssmenu > ul > li.has-sub > a {
  padding-right: 45px;
}
#cssmenu > ul > li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-top-color: #d3eced;
  right: 17px;
  top: 22px;
}
#cssmenu > ul > li.has-sub.active > a::after,
#cssmenu > ul > li.has-sub:hover > a {
  border-top-color: #ffffff;
}
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  top: 60px;
  padding-top: 6px;
  font-size: 13px;
  opacity: 0;
  -webkit-transition: top 0.2s ease, opacity 0.2s ease-in;
  -moz-transition: top 0.2s ease, opacity 0.2s ease-in;
  -ms-transition: top 0.2s ease, opacity 0.2s ease-in;
  -o-transition: top 0.2s ease, opacity 0.2s ease-in;
  transition: top 0.2s ease, opacity 0.2s ease-in;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom-color: #ffffff;
  top: -4px;
  left: 20px;
}
#cssmenu.align-right > ul > li > ul::after {
  left: auto;
  right: 20px;
}
#cssmenu ul ul ul::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-right-color: #ffffff;
  top: 11px;
  left: -4px;
}
#cssmenu.align-right ul ul ul::after {
  border-right-color: transparent;
  border-left-color: #ffffff;
  left: auto;
  right: -4px;
}
#cssmenu > ul > li > ul {
  top: 120px;
}
#cssmenu > ul > li:hover > ul {
  top: 52px;
  left: 0;
  opacity: 1;
}
#cssmenu.align-right > ul > li:hover > ul {
  left: auto;
  right: 0;
}
#cssmenu ul ul ul {
  padding-top: 0;
  padding-left: 6px;
}
#cssmenu.align-right ul ul ul {
  padding-right: 6px;
}
#cssmenu ul ul > li:hover > ul {
  left: 180px;
  top: 0;
  opacity: 1;
}
#cssmenu.align-right ul ul > li:hover > ul {
  left: auto;
  right: 100%;
  opacity: 1;
}
#cssmenu ul ul li a {
  text-decoration: none;
  font-weight: 400;
  padding: 11px 25px;
  width: 180px;
  color: #777777;
  background: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1), 1px 1px 1px rgba(0, 0, 0, 0.1), -1px 1px 1px rgba(0, 0, 0, 0.1);
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li.active > a {
  color: #333333;
}
#cssmenu ul ul li:first-child > a {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
#cssmenu ul ul li:last-child > a {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
#cssmenu > ul > li > ul::after {
  position: absolute;
  display: block;
}
#cssmenu ul ul li.has-sub > a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-left-color: #777777;
  right: 17px;
  top: 14px;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  border-left-color: transparent;
  border-right-color: #777777;
  right: auto;
  left: 17px;
}
#cssmenu ul ul li.has-sub.active > a::after,
#cssmenu ul ul li.has-sub:hover > a::after {
  border-left-color: #333333;
}
#cssmenu.align-right ul ul li.has-sub.active > a::after,
#cssmenu.align-right ul ul li.has-sub:hover > a::after {
  border-right-color: #333333;
  border-left-color: transparent;
}



@media screen and (max-width: 1680px) {




    #cssmenu {
      background: #39b1cc;



      width:70%%;
  margin: 0px 160px 0px 160px;

  padding-left:50px;
  padding-right:50px;
  text-align: center;

    }
    #cssmenu > ul {
      display: none;
    }
    #cssmenu > ul.open {
      display: block;
      border-top: 1px solid rgba(0, 0, 0, 0.1);
    }
    #cssmenu.align-right > ul {
      float: none;
    }
    #cssmenu.align-center > ul {
      text-align: left;
    }
    #cssmenu > ul > li,
    #cssmenu.align-right > ul > li {
      float: none;
      display: block;
    }
    #cssmenu > ul > li > a {
      padding: 18px 25px 18px 25px;
      border-right: 0;
    }
    #cssmenu > ul > li:hover > a,
    #cssmenu > ul > li.active > a {
      background: rgba(0, 0, 0, 0.1);
    }
    #cssmenu #menu-button {
      display: block;
      text-decoration: none;
      font-size: 13px;
      font-weight: 700;
      color: #d3eced;
      padding: 18px 25px 18px 25px;
      text-transform: uppercase;
      letter-spacing: 1px;
      background: url('images/bg.png');
      cursor: pointer;
    }
    #cssmenu ul ul,
    #cssmenu ul li:hover > ul,
    #cssmenu > ul > li > ul,
    #cssmenu ul ul ul,
    #cssmenu ul ul li:hover > ul,
    #cssmenu.align-right ul ul,
    #cssmenu.align-right ul li:hover > ul,
    #cssmenu.align-right > ul > li > ul,
    #cssmenu.align-right ul ul ul,
    #cssmenu.align-right ul ul li:hover > ul {
      left: 0;
      right: auto;
      top: auto;
      opacity: 1;
      width: 100%;
      padding: 0;
      position: relative;
      text-align: left;
    }
    #cssmenu ul ul li {
      width: 100%;
    }
    #cssmenu ul ul li a {
      width: 100%;
      box-shadow: none;
      padding-left: 35px;
    }
    #cssmenu ul ul ul li a {
      padding-left: 45px;
    }
    #cssmenu ul ul li:first-child > a,
    #cssmenu ul ul li:last-child > a {
      border-radius: 0;
    }
    #cssmenu #menu-button::after {
      display: block;
      content: '';
      position: absolute;
      height: 3px;
      width: 22px;
      border-top: 2px solid #d3eced;
      border-bottom: 2px solid #d3eced;
      right: 25px;
      top: 18px;
    }
    #cssmenu #menu-button::before {
      display: block;
      content: '';
      position: absolute;
      height: 3px;
      width: 22px;
      border-top: 2px solid #d3eced;
      right: 25px;
      top: 28px;
    }
    #cssmenu > ul > li.has-sub > a::after,
    #cssmenu ul ul li.has-sub > a::after {
      display: none;
    }


    }



    @media screen and (max-width: 1280px) {



        #cssmenu {
          background: #39b1cc;

          margin: 0px 100px 0px 100px;
            padding-left:50px;
            padding-right:50px;
            text-align: center;

        }
        #cssmenu > ul {
          display: none;
        }
        #cssmenu > ul.open {
          display: block;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
        #cssmenu.align-right > ul {
          float: none;
        }
        #cssmenu.align-center > ul {
          text-align: left;
        }
        #cssmenu > ul > li,
        #cssmenu.align-right > ul > li {
          float: none;
          display: block;
        }
        #cssmenu > ul > li > a {
          padding: 18px 25px 18px 25px;
          border-right: 0;
        }
        #cssmenu > ul > li:hover > a,
        #cssmenu > ul > li.active > a {
          background: rgba(0, 0, 0, 0.1);
        }
        #cssmenu #menu-button {
          display: block;
          text-decoration: none;
          font-size: 13px;
          font-weight: 700;
          color: #d3eced;
          padding: 18px 25px 18px 25px;
          text-transform: uppercase;
          letter-spacing: 1px;
          background: url('images/bg.png');
          cursor: pointer;
        }
        #cssmenu ul ul,
        #cssmenu ul li:hover > ul,
        #cssmenu > ul > li > ul,
        #cssmenu ul ul ul,
        #cssmenu ul ul li:hover > ul,
        #cssmenu.align-right ul ul,
        #cssmenu.align-right ul li:hover > ul,
        #cssmenu.align-right > ul > li > ul,
        #cssmenu.align-right ul ul ul,
        #cssmenu.align-right ul ul li:hover > ul {
          left: 0;
          right: auto;
          top: auto;
          opacity: 1;
          width: 100%;
          padding: 0;
          position: relative;
          text-align: left;
        }
        #cssmenu ul ul li {
          width: 100%;
        }
        #cssmenu ul ul li a {
          width: 100%;
          box-shadow: none;
          padding-left: 35px;
        }
        #cssmenu ul ul ul li a {
          padding-left: 45px;
        }
        #cssmenu ul ul li:first-child > a,
        #cssmenu ul ul li:last-child > a {
          border-radius: 0;
        }
        #cssmenu #menu-button::after {
          display: block;
          content: '';
          position: absolute;
          height: 3px;
          width: 22px;
          border-top: 2px solid #d3eced;
          border-bottom: 2px solid #d3eced;
          right: 25px;
          top: 18px;
        }
        #cssmenu #menu-button::before {
          display: block;
          content: '';
          position: absolute;
          height: 3px;
          width: 22px;
          border-top: 2px solid #d3eced;
          right: 25px;
          top: 28px;
        }
        #cssmenu > ul > li.has-sub > a::after,
        #cssmenu ul ul li.has-sub > a::after {
          display: none;
        }


    }


@media screen and (max-width: 980px) {







      #cssmenu {
        background: #39b1cc;

        margin: 0px -20px 0px -20px;
          padding-left:50px;
          padding-right:50px;
          text-align: center;



      }
      #cssmenu > ul {
        display: none;
      }
      #cssmenu > ul.open {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }
      #cssmenu.align-right > ul {
        float: none;
      }
      #cssmenu.align-center > ul {
        text-align: left;
      }
      #cssmenu > ul > li,
      #cssmenu.align-right > ul > li {
        float: none;
        display: block;
      }
      #cssmenu > ul > li > a {
        padding: 18px 25px 18px 25px;
        border-right: 0;
      }
      #cssmenu > ul > li:hover > a,
      #cssmenu > ul > li.active > a {
        background: rgba(0, 0, 0, 0.1);
      }
      #cssmenu #menu-button {
        display: block;
        text-decoration: none;
        font-size: 13px;
        font-weight: 700;
        color: #d3eced;
        padding: 18px 25px 18px 25px;
        text-transform: uppercase;
        letter-spacing: 1px;
        background: url('images/bg.png');
        cursor: pointer;
      }
      #cssmenu ul ul,
      #cssmenu ul li:hover > ul,
      #cssmenu > ul > li > ul,
      #cssmenu ul ul ul,
      #cssmenu ul ul li:hover > ul,
      #cssmenu.align-right ul ul,
      #cssmenu.align-right ul li:hover > ul,
      #cssmenu.align-right > ul > li > ul,
      #cssmenu.align-right ul ul ul,
      #cssmenu.align-right ul ul li:hover > ul {
        left: 0;
        right: auto;
        top: auto;
        opacity: 1;
        width: 100%;
        padding: 0;
        position: relative;
        text-align: left;
      }
      #cssmenu ul ul li {
        width: 100%;
      }
      #cssmenu ul ul li a {
        width: 100%;
        box-shadow: none;
        padding-left: 35px;
      }
      #cssmenu ul ul ul li a {
        padding-left: 45px;
      }
      #cssmenu ul ul li:first-child > a,
      #cssmenu ul ul li:last-child > a {
        border-radius: 0;
      }
      #cssmenu #menu-button::after {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #d3eced;
        border-bottom: 2px solid #d3eced;
        right: 25px;
        top: 18px;
      }
      #cssmenu #menu-button::before {
        display: block;
        content: '';
        position: absolute;
        height: 3px;
        width: 22px;
        border-top: 2px solid #d3eced;
        right: 25px;
        top: 28px;
      }
      #cssmenu > ul > li.has-sub > a::after,
      #cssmenu ul ul li.has-sub > a::after {
        display: none;
      }
    }



@media screen and (max-width: 736px)
 {




  #cssmenu {
    background: #39b1cc;


    margin: 0px -50px 0px -50px;

      padding-left:20px;
      padding-right:20px;
      text-align: center;



  }
  #cssmenu > ul {
    display: none;
  }
  #cssmenu > ul.open {
    display: block;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }
  #cssmenu.align-right > ul {
    float: none;
  }
  #cssmenu.align-center > ul {
    text-align: left;
  }
  #cssmenu > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
  }
  #cssmenu > ul > li > a {
    padding: 18px 25px 18px 25px;
    border-right: 0;
  }
  #cssmenu > ul > li:hover > a,
  #cssmenu > ul > li.active > a {
    background: rgba(0, 0, 0, 0.1);
  }
  #cssmenu #menu-button {
    display: block;
    text-decoration: none;
    font-size: 13px;
    font-weight: 700;
    color: #d3eced;
    padding: 18px 25px 18px 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: url('images/bg.png');
    cursor: pointer;
  }
  #cssmenu ul ul,
  #cssmenu ul li:hover > ul,
  #cssmenu > ul > li > ul,
  #cssmenu ul ul ul,
  #cssmenu ul ul li:hover > ul,
  #cssmenu.align-right ul ul,
  #cssmenu.align-right ul li:hover > ul,
  #cssmenu.align-right > ul > li > ul,
  #cssmenu.align-right ul ul ul,
  #cssmenu.align-right ul ul li:hover > ul {
    left: 0;
    right: auto;
    top: auto;
    opacity: 1;
    width: 100%;
    padding: 0;
    position: relative;
    text-align: left;
  }
  #cssmenu ul ul li {
    width: 100%;
  }
  #cssmenu ul ul li a {
    width: 100%;
    box-shadow: none;
    padding-left: 35px;
  }
  #cssmenu ul ul ul li a {
    padding-left: 45px;
  }
  #cssmenu ul ul li:first-child > a,
  #cssmenu ul ul li:last-child > a {
    border-radius: 0;
  }
  #cssmenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    border-bottom: 2px solid #d3eced;
    right: 25px;
    top: 18px;
  }
  #cssmenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #d3eced;
    right: 25px;
    top: 28px;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
}



#demo-basic {
  width: 250px;
  height: 400px;
  margin: 0px 360px 0px 400px;

}















/* html,
body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-size: 14px;
    color: #222;
    min-height: 100%;
    height: auto;
}

body,
button,
input {
    font-family: 'Open Sans', sans-serif;
} */

/*

nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
} */


/*
section {
    margin-bottom: 25px;
} */

/* section.hero {
    background: #20C1C7;
    background: linear-gradient(#189094, #20C1C7);
    color: white;
    text-shadow: 0 1px 1px rgba(20,20,20,0.6);
    margin-bottom: 0;
    min-height: 450px;
}
.hero h2 {
    font-size: 16px;
    font-weight: 400;
} */
/*
section.who {
    margin-bottom: 30px;
}
.section-header {
    background: #204648;
    padding: 5px 0;
}

input[type="number"],
input[type="text"] {
    border: 1px solid #aaa;
    padding: 5px;
    font-size: 18px;
    width: 100px;
} */

button,
a.btn {
    /* background-color: #189094;
    color: white;
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    text-shadow: none;
    display: inline-block;
    cursor: pointer; */

    width: 200px;
    height: 60px;
    padding: 10px;
color: white;
background-color: lightblue	;
border: 1px solid #000;
  font-size: 17px;
border-radius: 5px;
display: inline-block;
cursor: pointer;
}


button,
a.btn:hover {
   background-color: darkblue	;

}




input[type="file"] {
    cursor: pointer;
}
button:focus {
    outline: 0;
}

.file-btn {
    position: relative;
}
.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.actions {
    padding: 5px 0;
}
.actions button {
    margin-right: 5px;
}

pre[class*="language"] {
    margin: 10px 0;
    padding-top: 0;
    border-left-color: #189094;
}

.container,
.section-header h2 {
    position: relative;
    max-width: 1000px;
    margin: 20px auto;
    min-width: 500px;
    padding: 0 10px;
}

.hero p {
    font-size: 16px;
}

.hero .grid {
    padding-top: 50px;
}

/* h2 {
    color: white;
    font-size: 23px;
    font-weight: 300;
} */

.demo-wrap {
    border-bottom: 1px solid #ddd;
    padding-top: 20px;
}

.demo-wrap .container {
    padding-bottom: 10px;
}

.demo-wrap strong {
    font-size: 16px;
    display: block;
    font-weight: 400;
    color: #aaa;
    margin: 0 0 5px 0;
}

.documentation h3 {
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #0C4648;
    margin: 15px 0 10px;
}
.documentation ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.documentation section > ul > li {
    margin-bottom: 1.5em;
}

.documentation p {
    margin: 5px 0 10px;
}

.documentation .parameter-list li {
    padding-left: 5px;
    line-height: 28px;
}
.documentation .parameter-list li.values {
    padding-left: 20px;
}
.documentation em {
    color: #aaa;
    font-style: normal;
    padding: 0 10px;
}
.documentation i {
    color: #666;
}

.documentation strong.focus {
    font-size: 18px;
    color: #189094;
    font-weight: 700;
}
.documentation span.default {
    padding-right: 10px;
    font-weight: 600;
    color: #777;
}

.upload-demo .upload-demo-wrap,
.upload-demo .upload-result,
.upload-demo.ready .upload-msg {
    display: none;
}
.upload-demo.ready .upload-demo-wrap {
    display: block;
}
.upload-demo.ready .upload-result {
    display: inline-block;
}
.upload-demo-wrap {
    width: 100%;
    height: 450px;
    margin: 0 auto;
}

.upload-msg {
    text-align: center;
    padding: 50px;
    font-size: 22px;
    color: #aaa;
    width: 100%;
    margin: 50px auto;
    border: 1px solid #aaa;
}

/* Sweet alert modifications */
.sweet-alert {
    width: auto;
    max-width: 85%;
}

/* Grid - subset */
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
[class*='col-'] {
	float: left;
	padding-right: 20px; /* column-space */
}

.grid {
	width: 100%;
	max-width: 1140px;
	min-width: 755px;
	margin: 0 auto;
	overflow: hidden;
}
.grid:after {
	content: "";
	display: table;
	clear: both;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;
}
.col-2-3 {
	width: 66.66%;
}
.col-1-4 {
	width: 25%;
}
.col-3-4 {
	width: 75%;
}

@media handheld, only screen and (max-width: 767px) {
    .grid {
        width: 100%;
        min-width: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px; /* grid-space to left */
        padding-right: 10px; /* grid-space to right: (grid-space-left - column-space) e.g. 20px-10px=10px */
    }

    [class*='col-'] {
        width: auto;
        float: none;
        margin: 10px 0;
        padding-left: 0;
        padding-right: 10px; /* column-space */
    }
    .container,
    .section-header h2 {
        min-width: 0;
    }

    .croppie-container {
        padding: 30px 0;
    }
}
